

body{
    background-color: rgb(51, 134, 134);
    text-align: center;
}


.container{
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(250, 70, 70);
  background-color: rgb(19, 88, 169);
  }

  .win-msg{
    height: 15vmin;
  }

  #msg{
    color: #ffffc7;
    font-size: 3vmin;
  }

  #newGame{ 
    padding: 0.6rem;
    font-size: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }

  #rst{
    padding: 0.6rem;
    font-size: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }

  .hide{
    display: none;
  }

